/*================================
    RTL CSS START
================================*/
* {
    direction: rtl;
    text-align: right;
}

.slick-list {
    direction: ltr;
}

.wsus__header_left a span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__header_right li .nice-select::after {
    right: auto;
    left: 0px;
}

.wsus__header_right li .nice-select {
    padding-left: 30px;
    padding-right: 0;
}

.wsus__header_right li a {
    padding-right: 0;
    padding-left: 20px;
    border-right: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.wsus__header_right li .nice-select {
    padding-left: 30px;
    padding-right: 0;
    border-right: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.wsus__header_right li .nice-select::after {
    right: auto;
    left: 12px;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    left: auto;
    right: 2px;
}

.main_menu .right_menu li .icon {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.main_menu .right_menu li:first-child .icon {
    border-left: none;
}

.main_menu .wsus__droap_menu li a:hover::after,
.main_menu .wsus__droap_menu li a.active::after {
    left: auto;
    right: 0;
}

.main_menu .wsus__droap_menu li a:hover,
.main_menu .wsus__droap_menu li a.active {
    padding-left: 0;
    padding-right: 25px;
}

.right_menu li .wsus__droap_cart {
    left: auto;
    right: 0;
}

.wsus__menu_offconvas .offcanvas.offcanvas-end {
    right: auto;
    left: 0;
}

.wsus__menu_offconvas .btn-close {
    right: auto;
    left: 20px;
}

.main_menu .wsus__droap_menu li a::after {
    left: 0;
    right: -5px;
}

.wsus__droap_cart_list li .text {
    margin-left: 0;
    margin-right: 20px;
}

.wsus__menu_offconvas .btn-close {
    text-align: center;
}

.main_menu .wsus__droap_menu {
    left: auto;
    right: 0;
}

.wsus__banner_slider .slick-dots {
    right: auto;
    left: 120px;
}

.wsus__banner_slider .slick-dots li button::after {
    right: auto;
    left: -60px;
}

.wsus__banner_slider .slick-dots li button::before {
    left: auto;
    right: -11px;
}

.wsus__program_item .text .arrow_button {
    right: auto;
    left: 74px;
}

.wsus__program_item {
    padding-right: 0;
    margin-top: 25px;
    border-left: 1px solid rgba(23, 23, 24, 0.14);
    border-right: none;
    padding-left: 24px;
}

.wsus__program_area {
    padding-left: 0px !important;
    padding-right: 24px;
}

.wsus__programs_page .wsus__program_area {
    padding-right: 0;
}

.wsus__programs_page .wsus__program_item {
    border-left: 0;
    border-right: 0;
    padding-left: 0;
}

.arrow_button i {
    transform: rotate(-130deg);
}

.wsus__program_area::after {
    right: auto;
    left: 135px;
}

.wsus__machine_bg::before {
    left: auto;
    right: -22px;
    transform: rotateY(180deg);
}

.wsus__machine_bg::after {
    right: auto;
    left: -80px;
    transform: rotateY(180deg);
}

.wsus__machine_text ul li span {
    left: auto;
    right: 0;
}

.wsus__machine_text ul li {
    padding-left: 0;
    padding-right: 55px;
}

.common_btn_2 i {
    margin-left: 0px !important;
    margin-right: 10px !important;
    transform: rotate(-135deg);
}

.common_btn i {
    margin-right: 0;
    margin-left: 5px;
}


.wsus__home_counter_item h2,
.wsus__home_counter_item h2 span {
    text-align: center;
}

.wsus__home_counter_item p {
    text-align: center;
}


.wsus__pricing_nav ul li button span {
    left: auto;
    right: -78px;
}


.wsus__pricing_nav ul li:last-child button span {
    right: auto;
    left: -62px;
}

.wsus__single_trainer ul {
    right: auto;
    left: 10px;
}

.wsus__single_trainer.active ul,
.wsus__single_trainer:hover ul {
    right: auto;
    opacity: 1;
    left: 30px;
}

.wsus__timetable_list table tr th,
.wsus__timetable_list table tr td {
    border-right: none;
    border-left: 1px solid rgba(23, 23, 24, 0.1);
    width: 12.5%;
}

.wsus__timetable::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.wsus__single_pricing ul li::after {
    left: auto;
    right: 0;
}

.wsus__single_pricing ul li {
    padding-left: 0;
    padding-right: 15px;
}

.wsus__blog .prevArrow {
    right: auto;
    left: 283px;
}

.wsus__blog .nextArrow {
    right: auto;
    left: 343px;
}

.heading_left h6,
.heading_left h2,
.heading_left h2 span {
    text-align: right;
}

.wsus__testimonial_content p {
    text-align: center;
}

.wsus__testimonial_content h6 {
    text-align: center;
}

.wsus__blog_text ul li span {
    margin-right: 0;
    margin-left: 8px;
}

.wsus__social_media ul li {
    border-right: none;
    border-left: 1px solid var(--colorWhite);
}

.wsus__footer_right ul li p span,
.wsus__footer_right ul li a span {
    margin-right: 0;
    margin-left: 8px;
}

.wsus__footer_right ul li form button {
    right: auto;
    left: 5px;
}

.wsus__footer_right ul li form button i {
    transform: rotate(-90deg);
}

.wsus__copy_right ul li::after {
    left: auto;
    right: 0;
}

.wsus__copy_right ul li a {
    padding-left: 0;
    padding-right: 15px;
}

.progress-wrap {
    position: fixed;
    right: auto;
    left: 50px;
}

.wsus__header_2 .wsus__header_left p {
    padding-left: 0;
    padding-right: 30px;
}

.main_menu_2 .navbar-brand {
    left: auto;
    right: 0;
}

.main_menu_2 .navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.wsus__section_heading_2 h2 {
    text-align: center;
}

.wsus__header_right li a span {
    margin-right: 0;
    margin-left: 3px;
}

.wsus__banner_2_slider .prevArrow {
    right: auto;
    left: 80px;
}

.wsus__banner_2_slider .nextArrow {
    right: auto;
    left: 140px;
}

.wsus__pricing_2_text ul li::after {
    left: auto;
    right: 0;
}

.wsus__pricing_2_text ul li {
    padding-left: 0;
    padding-right: 16px;
}

.wsus__pricing_2_item ul li::after {
    left: auto;
    right: 0;
}

.wsus__pricing_2_item ul {
    margin: 30px 35px 0px 0px;
}

.wsus__pricing_2_item ul li {
    padding-left: 0;
    padding-right: 16px;
}

.wsus__blog_2_text ul li span {
    margin-right: 0;
    margin-left: 8px;
}

.main_menu_3 .navbar-brand {
    margin-left: 0;
    margin-right: 18px;
}

.main_menu_3 .right_menu li:last-child .icon {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}

.wsus__banner_3_slider .slick-dots {
    left: auto;
    right: 90%;
}

.wsus__program_3_overly p {
    left: auto;
    right: 40px;
}

.wsus__program_4_overly .text {
    left: auto;
    right: 50px;
}

.wsus__join_event_bottom {
    background: url("../images/join_event_form_bg_2.jpg") center center / cover no-repeat;
}

.wsus__join_event_form {
    padding: 100px 147px 110px 60px;
}

.wsus__section_heading_3 h2 {
    text-align: center;
}

.wsus__product_item .img ul {
    right: auto;
    left: 0;
}

.wsus__product_item:hover .img ul {
    right: auto;
    left: 20px;
}

.wsus__product_item .img .add_cart span {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__product_item .new {
    left: auto;
    right: 20px;
}

.wsus__modal_buy_cart .common_btn {
    border-left: none;
    border-right: 1px solid var(--colorBlack);
}

.wsus__modal_quantity button {
    text-align: center;
}

.wsus__modal_text .wishlist li a span {
    margin-right: 0;
    margin-left: 12px;
}

.wsus__product_modal .btn-close {
    right: auto;
    left: 20px;
}

.wsus__modal_quantity {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__modal_text {
    margin-left: 0;
    margin-right: 25px;
}

.wsus__testimonial_3_slide_text {
    padding: 75px 0px 210px 170px;
}

.wsus__testimonial_3_slide_text_border {
    border-left: 1px solid rgba(23, 23, 24, 0.1);
    border-right: none;
}

.wsus__testimonial_3_slide_img_area {
    margin-left: 0;
    margin-right: auto;
}

.wsus__testimonial_3 .slick-dots {
    left: auto;
    right: 12px;
}

.wsus__blog_3 .prevArrow {
    right: auto;
    left: 12px;
}

.wsus__blog_3 .nextArrow {
    right: auto;
    left: 72px;
}

.wsus__blog_3 .wsus__section_heading_3 h2 {
    text-align: right;
}

.wsus__blog_3_item p {
    left: auto;
    right: 40px;
}

.wsus__blog_3_item p span {
    margin-right: 0;
    margin-left: 7px;
}

.wsus__footer_3_right {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
}

.wsus__footer_3 {
    padding-left: 0;
    padding-right: 160px;
}

.wsus__footer_3_right_link {
    padding-left: 130px;
    padding-right: 100px;
}

.wsus__download_link ul li a span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__breadcrumb::after {
    left: auto;
    right: 0;
}

.wsus__breadcrumb::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.wsus___breadcrumb_text ul li a::after {
    right: auto;
    left: -19px;
}

.wsus___breadcrumb_text ul li a i {
    margin-right: 0px;
    margin-left: 7px;
}

.heading_left h6,
.heading_left h2,
.heading_left h2 span {
    text-align: right !important;
}

.wsus__why_choose_us_text ul li span {
    margin-right: 0px;
    margin-left: 10px;
}

.wsus__why_choose_us::after {
    right: auto;
    left: 0;
    transform: rotateY(180deg);
}

.wsus__service_details_text .list li::after {
    left: auto;
    right: 0;
}

.wsus__service_details_text .list li {
    padding-right: 15px;
    padding-left: 0;
}

.wsus__join_event_form .wsus__section_heading_3 h2 {
    text-align: right;
}

.wsus__join_event_right .wsus__section_heading_3 h2 {
    text-align: right;
}

.wsus__breadcrumb {
    background: url("../images/breadcrumbs_bg_2.jpg") center center / cover no-repeat;
}

.wsus__testimonial_2 .prevArrow {
    left: 320px;
    right: auto;
}

.wsus__testimonial_2 .nextArrow {
    right: auto;
    left: 380px;
}

.wsus__testimonial_2_area {
    margin-left: 0;
    margin-right: 310px;
}

.wsus__testimonial_2_reviewer .img {
    margin-right: 0;
    margin-left: 20px;
}

.wsus__testimonial_2_item .text::after {
    left: auto;
    right: 60px;
}

.wsus__testimonial_2_reviewer {
    margin-left: 0;
    margin-right: 50px;
}

.wsus__contact_contant {
    padding: 50px 57px 50px 57px;
}

.wsus__contact_img {
    padding: 20px 0px 20px 20px;
}

.wsus__program_item .text h5::after {
    left: auto;
    right: 0;
}

.wsus__program_item .text h5 {
    padding-left: 0;
    padding-right: 12px;
}

.wsus__cart_list .pro_img {
    padding-right: 0 !important;
    padding-left: 115px !important;
}

.wsus__cart_list .quentity_btn .btn-success {
    border-left: none;
    border-right: 2px solid #EFF0F3;
}

.wsus__cart_list .quentity_btn .btn-danger {
    border-right: none;
    border-left: 2px solid rgb(239, 240, 243);
}

.wsus__cart_list table tbody tr td.pro_icon a {
    text-align: center;
}

.wsus__cart_list_pricing h6 span,
.wsus__cart_list_pricing h5 span,
.wsus__cart_list_pricing p span {
    margin-left: 0;
    margin-right: 55px;
}

.wsus__cart_list_bottom_btn {
    padding: 35px 0px 35px 77px;
}

.wsus__releted_product .prevArrow {
    right: auto;
    left: 12px;
}

.wsus__releted_product .nextArrow {
    left: 73px;
    right: auto;
}

.wsus__releted_product .wsus__section_heading_3 h2 {
    text-align: right;
}

.wsus__shipping_address_item .form-check input {
    float: right;
}

.wsus__shipping_address_item .form-check label {
    margin-left: 0;
    margin-right: 33px;
}

.wsus__shipping_address_item .form-check-inline {
    margin-right: 0;
}

.wsus__shipping_mail_address {
    margin-left: 0;
    margin-right: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 1px;
}

.wsus__checkout_form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    right: auto;
    left: 20px;
}

.wsus__billing_product li .text {
    margin-left: 0;
    margin-right: 30px;
}

.wsus__total_price {
    padding: 25px 0px 25px 40px;
}

.wsus__billing_summary h5 {
    padding-right: 0;
    padding-left: 40px;
}

.wsus__cart_list_pricing h6,
.wsus__cart_list_pricing h5,
.wsus__cart_list_pricing p {
    margin-right: 5px;
    margin-left: 0;
}

.modal_payment_popup .modal_closs_btn {
    margin-right: 0px !important;
    margin-left: 10px !important;
}

.modal_payment_popup .modal-footer {
    padding-right: 1px;
    padding-left: 0;
}

.modal_payment_popup .modal_iteam li::after {
    left: auto;
    right: 0;
}

.modal_payment_popup .modal_iteam li {
    padding-left: 0;
    padding-right: 15px;
}

.modal_payment_popup .nice-select {
    text-align: right !important;
    padding-left: 30px;
    padding-right: 18px;
}

.modal_payment_popup .single_form .nice-select:after {
    right: auto;
    left: 20px;
}

.modal_payment_popup .nice-select .option {
    text-align: right;
}

.modal_payment_success p,
.modal_payment_success p span {
    text-align: center;
}

.wsus__footer::after {
    right: auto;
    left: 10px;
    transform: rotateY(180deg);
}

.wsus__pagination ul li:last-child .page-link,
.wsus__pagination ul li:first-child .page-link {
    transform: rotateY(180deg);
}

.wsus__decision_item .img::after {
    left: auto;
    right: 100%;
}

.wsus__blog_details_img_info li:first-child span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__blog_details_img_info li span {
    margin-right: 0;
    margin-left: 2px;
}

.wsus__blog_details_img_2 p {
    text-align: center;
}

.wsus__blog_details_tag_share .tags h6 {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__blog_details_tag_share .share i {
    margin-right: 0;
    margin-left: 8px;
}

.wsus__blog_post_direction .prev_post {
    padding-right: 0;
    padding-left: 30px;
}

.wsus__blog_post_direction .prev_post .text {
    margin-left: 0;
    margin-right: 25px;
}

.wsus__blog_post_direction .next_post {
    padding-left: 0px;
    padding-right: 30px;
}

.wsus__blog_post_direction .next_post .text {
    margin-right: 0;
    margin-left: 25px;
}

.wsus__blog_post_direction .next_post .text h6 {
    text-align: left;
}

.wsus__blog_post_direction .next_post .text a {
    text-align: left;
}

.wsus__blog_post_direction .icon {
    transform: rotateY(180deg);
}

.wsus__blog_single_comment .img {
    margin-right: 0;
    margin-left: 25px;
}

.wsus__blog_fitness_coach_name {
    right: auto;
    left: -77px;
}

.wsus__blog_details_right {
    margin-left: 0;
    margin-right: 55px;
}

.wsus__blog_details_right form button {
    right: auto;
    left: 4px;
}

.wsus__blog_sidebar_category li a i {
    margin-right: 0;
    margin-left: 7px;
}

.wsus__blog_sidebar_releted_blog li a b {
    margin-left: 0;
    margin-right: 15px;
}

.wsus__blog_details_form .form-check-input[type="checkbox"] {
    float: right;
}

.wsus__blog_details_form .form-check label {
    padding-left: 0;
    padding-right: 25px;
}

.wsus__product_summary {
    margin-left: 0;
    margin-right: 85px;
}

.wsus__product_quantity button {
    text-align: center;
}

.wsus__buy_cart_button .common_btn {
    border-left: none;
    border-right: 1px solid var(--colorBlack);
}

.wsus__product_summary .wishlist li a span {
    margin-right: 0;
    margin-left: 12px;
}

.wsus__product_quantity {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__product_description_text {
    margin-left: 0;
    margin-right: 85px;
}

.wsus__product_additional_info_text {
    margin-left: 0;
    margin-right: 85px;
}

.wsus__trainer_details_text {
    padding-left: 0;
    padding-right: 75px;
}

.wsus__trainer_details::after {
    right: auto;
    left: 0;
    transform: rotateY(180deg);
}

.wsus__testimonial_2 .wsus__section_heading_2 h2 {
    text-align: right;
}

.barfiller .tip {
    left: 0 !important;
    right: auto;
}

.wsus__experience::after {
    right: auto;
    left: 0px;
    transform: rotateY(180deg);
}

.wsus__login_others_option img {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__login_contant {
    padding: 88px 76px 92px 100px;
}

.wsus__faq_accordion .accordion-button::after {
    right: auto;
    left: 10px;
}

.wsus__product_searchbox button {
    right: auto;
    left: 5px;
}

.wsus__product_searchbox input {
    padding: 12px 20px 12px 60px;
}

.form-check .form-check-input {
    float: right;
}

.wsus__product__sidebar_category ul li label {
    margin-right: 25px;
}

.wsus__workout_item_text span img {
    margin-left: 8px;
}

.wsus__workout_item .img p {
    right: auto;
    left: 30px;
}

.wsus__workout_clocktime img {
    margin-right: 0;
    margin-left: 8px;
}

.wsus__workout_apply_coupon button {
    right: auto !important;
    left: 1px !important;
}

.wsus__program_pdf_download_btn a i {
    margin-left: 0;
    margin-right: 10px;
}

.wsus__award_heading h2 {
    text-align: center;
}

.wsus__award_item span {
    right: auto;
    left: 150px;
}

.wsus__award_item {
    border-left: none;
    border-right: 10px solid transparent;
}

.wsus__faq_accordion .accordion-header .accordion-button {
    padding: 16px 40px 16px 70px;
}

.wsus__dashboard_profile_img label {
    right: auto;
    left: -10px;
}

.wsus__dashboard_sidebar_top h5 {
    text-align: center;
}

.wsus__dashboard_sidebar_top p {
    text-align: center;
}

.wsus__deshboard_menu li a i {
    margin-right: 0;
    margin-left: 20px;
}

.wsus__profile_overview p {
    text-align: center;
}

.wsus__profile_overview h4 {
    text-align: center !important;
}

.wsus__dashboard_main_contant h4 {
    text-align: right;
}

.wsus__dashboard_profile_edit_info .select2-container--default .select2-selection--single .select2-selection__arrow b {
    right: auto;
    left: 20px;
}

.wsus__dashboard_invoice_left h5 {
    text-align: right;
}

.wsus__dashboard_invoice_left p {
    text-align: right;
}

.wsus__dashboard_invoice_right h5 {
    text-align: left;
}

.wsus__dashboard_invoice_right p {
    text-align: left;
}

.wsus__privacy_policy_text ol li::after,
.wsus__privacy_policy_text ul li::after {
    left: auto;
    right: 0;
}

.wsus__privacy_policy_text ol li,
.wsus__privacy_policy_text ul li {
    padding-left: 0;
    padding-right: 15px;
}

.wsus__dashboard_invoice .common_btn_2 i {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

/*================================
    RTL CSS END
================================*/



/*================================
    RTL RESPONSIVE CSS END
================================*/
@media (min-width: 1400px) and (max-width: 1600px) {
    .wsus__testimonial_2 .prevArrow {
        left: 20px;
    }

    .wsus__testimonial_2 .nextArrow {
        left: 80px;
    }

    .wsus__footer_3 {
        padding-right: 0;
    }

    .wsus__footer_3_right_link {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wsus__login_contant {
        padding: 28px 15px 35px 40px;
    }

    .wsus__blog .prevArrow {
        left: 12px;
    }

    .wsus__blog .nextArrow {
        left: 70px;
    }

    .right_menu li .wsus__droap_cart {
        left: -123px;
        right: auto;
    }

    .wsus__testimonial_2_area {
        margin-left: 0px;
        margin-right: 57px;
    }


}


@media (min-width: 1200px) and (max-width: 1399.99px) {
    .wsus__program_item .text {
        padding: 30px 50px;
    }

    .wsus__program_item .text .arrow_button {
        left: 50px;
    }

    .wsus__blog .prevArrow {
        left: 12px;
    }

    .wsus__blog .nextArrow {
        left: 70px;
    }

    .wsus__header_2 .wsus__header_left p {
        padding-right: 0;
    }

    .wsus__testimonial_2_area {
        margin-right: 0;
    }

    .wsus__testimonial_2 .prevArrow {
        left: 20px;
    }

    .wsus__testimonial_2 .nextArrow {
        left: 80px;
    }

    .wsus__footer_3 {
        padding-right: 0;
    }

    .wsus__footer_manu {
        margin-left: 0;
    }

    .wsus__footer_3_right_link {
        padding-left: 0;
        padding-right: 20px;
    }

    .wsus__blog_sidebar_releted_blog li a b {
        width: 55%;
    }

    .wsus__login_contant {
        padding: 28px 15px 35px 40px;
    }

    .right_menu li .wsus__droap_cart {
        left: -113px;
        right: auto;
    }

    .wsus__testimonial_2_area {
        margin-left: 0px;
        margin-right: 46px;
    }

    .main_menu_3 .right_menu li .wsus__droap_cart {
        left: -123px;
    }

    .wsus__program_4_overly .text {
        padding-right: 0;
        padding-left: 40px;
    }

    .wsus__program_item .text {
        padding: 30px 35px;
    }


}


@media (min-width: 992px) and (max-width: 1199.99px) {
    .wsus__blog .prevArrow {
        left: 12px;
    }

    .wsus__blog .nextArrow {
        left: 70px;
    }

    .wsus__testimonial_2_area {
        margin-right: 0;
    }

    .wsus__testimonial_2 .prevArrow {
        left: 30px;
    }

    .wsus__testimonial_2 .nextArrow {
        left: 90px;
    }

    .wsus__footer_3 {
        padding-right: 0;
    }

    .wsus__footer_3_right_link {
        padding-left: 0;
        padding-right: 0;
    }

    .wsus__footer_3 .wsus__footer_left {
        padding-right: 30px;
    }

    .wsus__footer_3_right_link {
        padding-right: 30px;
    }

    .wsus__contact_contant {
        padding: 48px 37px 40px 40px;
    }

    .wsus__login_contant {
        padding: 28px 15px 35px 40px;
    }

    .right_menu li .wsus__droap_cart {
        left: -100px;
        right: auto;
    }

    .wsus__testimonial_2_area {
        margin-left: 0px;
        margin-right: 30px;
    }

    .main_menu_3 .right_menu li .wsus__droap_cart {
        left: -110px;
    }

    .wsus__program_4_overly .text {
        padding-right: 0;
        padding-left: 40px;
    }

    .wsus__join_event_form {
        padding: 40px 40px 40px 20px;
    }

    .wsus__blog_3_overly .text {
        left: auto;
        right: 30px;
        padding-right: 0;
        padding-left: 40px;
    }

    .wsus__blog_3_item p {
        right: 30px;
    }

    .wsus__product_summary {
        margin-right: 30px;
    }

    .wsus__programs_page .wsus__program_item .text {
        padding: 50px 50px;
    }

    .wsus__blog_details_right {
        margin-right: 0;
    }

}


@media (min-width: 768px) and (max-width: 991.99px) {
    .navbar-toggler {
        margin-left: 12px;
        text-align: center;
    }

    .main_menu .navbar-brand {
        padding-right: 12px;
        padding-left: 0;
    }

    .wsus__header_2 .wsus__header_left p {
        padding-right: 0;
    }

    .wsus__blog .prevArrow {
        left: 12px;
    }

    .wsus__blog .nextArrow {
        left: 70px;
    }

    .wsus__testimonial_2_area {
        margin-right: 12px;
    }

    .wsus__testimonial_2 .prevArrow {
        left: 20px;
    }

    .wsus__testimonial_2 .nextArrow {
        left: 80px;
    }

    .main_menu_3 .navbar-toggler {
        margin-left: 20px;
    }

    .main_menu_3 .navbar-brand {
        margin-right: 8px;
    }

    .wsus__join_event_form {
        padding: 60px 30px;
    }

    .wsus__testimonial_3_slide_text {
        padding: 75px 0px 145px 70px;
    }

    .wsus__footer_3 {
        padding-right: 0;
    }

    .wsus__footer_3 .wsus__footer_left {
        padding-right: 35px;
        padding-left: 50px;
    }

    .wsus__footer_3_right_link {
        padding-right: 35px;
    }

    .wsus__contact_contant {
        padding: 48px 37px 40px 40px;
    }

    .wsus__contact_img {
        padding: 40px 40px 40px 40px;
    }

    .wsus__product_summary {
        margin-right: 0;
    }

    .wsus__product_description_text {
        margin-right: 0;
    }

    .wsus__product_additional_info_text {
        margin-right: 0;
    }

    .wsus__trainer_details_text {
        padding-right: 0;
    }

    .wsus__login_contant {
        padding: 88px 100px 92px 100px;
    }

    .wsus__pricing::after {
        right: auto;
        left: 0;
        transform: rotateY(180deg);
    }

    .wsus__program_4_overly .text {
        padding-right: 0;
        padding-left: 40px;
    }

    .main_menu_3 .navbar-brand {
        padding-left: 0;
    }

    .wsus__cart_list .pro_img {
        padding-left: 50px !important;
    }

    .wsus__programs_page .wsus__program_item .text {
        padding: 30px 35px;
    }

    .wsus__blog_details_right {
        margin-left: 0;
        margin-right: 0;
    }

}


@media (min-width: 576px) and (max-width: 767.99px) {

    .navbar-toggler {
        text-align: center;
    }

    .wsus__header_right li a {
        padding-left: 0;
        border-left: none;
    }

    .main_menu .wsus__droap_menu {
        right: 30px;
    }

    .main_menu .right_menu li .icon {
        border-left: none;
    }

    .wsus__blog .prevArrow {
        left: 10px;
    }

    .wsus__blog .nextArrow {
        left: 70px;
    }

    .wsus__header_2 .wsus__header_left p {
        padding-right: 0;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .main_menu .navbar-brand {
        padding-right: 12px;
        padding-left: 0;
    }

    .wsus__testimonial_2_area {
        margin-right: 0;
    }

    .wsus__testimonial_2 .prevArrow {
        left: 20px;
    }

    .wsus__testimonial_2 .nextArrow {
        left: 80px;
    }

    .main_menu_3 .navbar-brand {
        margin-right: 8px;
    }

    .main_menu_3 .navbar-toggler {
        margin-right: 0;
        margin-left: 20px;
    }

    .wsus__join_event_form {
        padding: 50px 20px;
    }

    .wsus__testimonial_3_slide_text {
        padding: 30px 0px 140px 30px;
    }

    .wsus__testimonial_3_slide_text_border {
        border-left: none;
    }

    .wsus__testimonial_3_slide_img_area {
        margin-left: auto;
    }

    .wsus__footer_3 {
        padding-right: 0;
    }

    .wsus__footer_3_right_link {
        padding-left: 0;
        padding-right: 30px;
    }

    .wsus__footer_3 .wsus__footer_left {
        padding-right: 30px;
    }

    .wsus__contact_img {
        padding: 20px 20px 20px 20px;
    }

    .wsus__product_summary {
        margin-right: 0;
    }

    .wsus__product_description_text {
        margin-right: 0;
    }

    .wsus__product_additional_info_text {
        margin-right: 0;
    }

    .wsus__trainer_details_text {
        padding-right: 0;
    }

    .wsus__dashboard_invoice_right h5 {
        text-align: right;
    }

    .wsus__dashboard_invoice_right p {
        text-align: right;
    }

    .wsus__testimonial_2_item {
        margin-left: 0px;
        margin-right: 46px;
    }

    .main_menu_3 .navbar-brand {
        padding-left: 0;
    }

    .wsus__program_3_overly .text {
        left: auto;
        padding-right: 0;
        right: 40px;
        padding-left: 40px;
    }

    .wsus__program_4_overly .text {
        padding-right: 0;
        padding-left: 30px;
    }

    .wsus__blog_3_overly .text {
        bottom: 30px;
        left: auto;
        right: 30px;
        padding-left: 40px;
        padding-right: 0;
    }

    .wsus__blog_3_item p {
        right: 30px;
    }

    .wsus__contact_contant {
        padding: 48px 37px 40px 40px;
    }

    .wsus__cart_list .pro_img {
        padding-left: 60px !important;
    }

    .wsus__login_contant {
        padding: 22px 30px 25px 30px;
    }

    .wsus__programs_page .wsus__program_item .text {
        padding: 50px 50px;
    }

    .wsus__blog_details_right {
        margin-left: 0;
        margin-right: 0;
    }

}



@media (max-width: 575.99px) {

    .wsus__header_right li a {
        padding-left: 0;
        border-left: none;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
        text-align: center;
    }

    .main_menu .navbar-brand {
        padding-left: 0;
        padding-right: 12px;
    }

    .main_menu .wsus__droap_menu {
        left: auto;
        right: 30px;
    }

    .main_menu .right_menu li .icon {
        border-left: none;
    }

    .wsus__program_item .text .arrow_button {
        left: 40px;
        bottom: 15px;
    }

    .wsus__header_2 .wsus__header_right li:last-child .nice-select {
        border-right: 0;
        border-left: none;
    }

    .wsus__testimonial_2_area {
        margin-right: 0;
    }

    .main_menu_3 .navbar-brand {
        margin-right: 0;
    }

    .wsus__join_event_form {
        padding: 50px 20px;
    }

    .wsus__testimonial_3_slide_text {
        padding: 75px 0px 100px 20px;
    }

    .wsus__testimonial_3_slide_img_area {
        margin-right: 15px;
    }

    .wsus__footer_3 {
        padding-right: 0px;
    }

    .wsus__footer_3 .wsus__footer_left {
        padding-right: 12px;
    }

    .wsus__footer_3_right_link {
        padding-left: 0;
        padding-right: 12px;
    }

    .wsus__contact_contant {
        padding: 20px;
    }

    .wsus__contact_img {
        padding: 20px 20px 20px 20px;
    }

    .wsus__cart_list_bottom_btn {
        padding: 35px 0px 35px 0px;
    }

    .wsus__billing_product li .text {
        margin-right: 20px;
    }

    .wsus__total_price {
        padding: 20px;
    }

    .wsus__billing_summary h5 {
        padding-left: 0;
    }

    .wsus__blog_details_right {
        margin-right: 0;
    }

    .wsus__product_summary {
        margin-right: 0;
    }

    .wsus__product_description_text {
        margin-right: 0;
    }

    .wsus__product_additional_info_text {
        margin-right: 0;
    }

    .wsus__trainer_details_text {
        padding-right: 0;
    }

    .wsus__faq_accordion .accordion-header .accordion-button {
        text-align: right;
    }

    .wsus__testimonial_3_slide_text_border {
        border-left: none;
    }

    .wsus__modal_text {
        margin-right: 0;
    }

    .main_menu_2.menu_fix .navbar-brand {
        padding: 0px 12px 0px 0px;
    }

    .wsus__testimonial_2_item {
        margin: 0px 25px 0px 0px;
    }

    .wsus__program_4_overly .text {
        padding-left: 40px;
        padding-right: 0px;
    }

    .wsus__blog_3_overly .text {
        left: auto;
        right: 30px;
        padding-left: 40px;
        padding-right: 0;
    }

    .wsus__blog_3_item p {
        right: 30px;
    }

    .wsus__cart_list .pro_img {
        padding-left: 50px !important;
    }

    .wsus__program_item .text {
        padding: 15px 20px;
    }

    .wsus__programs_page .wsus__login_contant {
        padding: 18px 30px 25px 30px;
    }

    .wsus__login_contant {
        padding: 18px 30px 25px 30px;
    }

}

/*================================
    RTL RESPONSIVE CSS END
================================*/